@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  a {
    @apply text-primary md:text-3xl text-xl font-black m-2 lowercase;
  }
  span {
    @apply text-lg;
  }
}

/* custom css classes go here
@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x {
    scroll-snap-type: x;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
} */
